# Python bytecode & cache
__pycache__/
*.py[codz]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# VS Code & editor configs
.vscode/
tempCodeRunnerFile.py
.idea/

# Jupyter notebooks
.ipynb_checkpoints/

# Test & coverage caches
.pytest_cache/
.coverage
*.log

# Streamlit secrets
.streamlit/secrets.toml

# Project data & model artifacts
data/raw/*
data/processed/*
models/*

# Preserve empty folder structure in Git
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep